In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split  
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

In [2]:
dt_test = pd.read_csv("C:/Users/Richalatou/cours_machine_learning\MACHINE_learning/YNOV_DATA\challenge-housepricing-ynov/test_housing.csv")

In [3]:
dt_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,id
0,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY,3
1,-122.26,37.85,52.0,2202.0,434.0,910.0,402.0,3.2031,NEAR BAY,10
2,-122.26,37.85,52.0,3503.0,752.0,1504.0,734.0,3.2705,NEAR BAY,11
3,-122.26,37.85,52.0,2491.0,474.0,1098.0,468.0,3.0750,NEAR BAY,12
4,-122.26,37.84,52.0,696.0,191.0,345.0,174.0,2.6736,NEAR BAY,13
...,...,...,...,...,...,...,...,...,...,...
8635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,INLAND,20635
8636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,INLAND,20636
8637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,INLAND,20637
8638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,INLAND,20638
8639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,INLAND,20639

Sélectionner les colonnes pertinentes pour la régression
Ici, on essaie de prédire median_house_value

In [6]:
X = dt_test[["longitude", "latitude", "housing_median_age", "total_rooms", 
          "total_bedrooms", "population", "households", "median_income"]]

In [7]:
X

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431
1,-122.26,37.85,52.0,2202.0,434.0,910.0,402.0,3.2031
2,-122.26,37.85,52.0,3503.0,752.0,1504.0,734.0,3.2705
3,-122.26,37.85,52.0,2491.0,474.0,1098.0,468.0,3.0750
4,-122.26,37.84,52.0,696.0,191.0,345.0,174.0,2.6736
...,...,...,...,...,...,...,...,...
8635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603
8636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568
8637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000
8638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672
8639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886

In [8]:
X = X.fillna(X.mean())

In [9]:
X

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431
1,-122.26,37.85,52.0,2202.0,434.0,910.0,402.0,3.2031
2,-122.26,37.85,52.0,3503.0,752.0,1504.0,734.0,3.2705
3,-122.26,37.85,52.0,2491.0,474.0,1098.0,468.0,3.0750
4,-122.26,37.84,52.0,696.0,191.0,345.0,174.0,2.6736
...,...,...,...,...,...,...,...,...
8635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603
8636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568
8637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000
8638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672
8639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

NameError: name 'y' is not defined

In [14]:
model = LinearRegression()
model.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [13]:
y_pred = model.predict(X)

NotFittedError: This LinearRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.